{
  "extends": "standard",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "import/no-webpack-loader-syntax": "off"
  }
}