.comment-container {
    margin: 8px auto;
    padding: 6px;
    background-color: #e3e7ef;
    width: 400px;
    text-align: left;
}

.comment-delete {
    width: 30px;
    height: 24px;
    background-color: #ee9999;
    float: right;
    margin-top: -14px;
    padding-top: 6px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    color: #600;
    cursor: pointer;
}

.Comments-input {
    padding: 16px;
    border: #ccc solid 1px;
    width: 400px;
    height: 80px;
    margin: 0 auto;
}

.input-label {
    margin-right: 8px;
    position: relative;
    padding: 5px 0;
    float: right;
}

.Comments-labels {
    float: left;
    text-align: right;
    width: 20%;
}

.Comments-inputs {
    float: left;
    width: 80%;
}

.Comments-inputs input {
    width: 100%;
    margin: 4px 0;
}

.Comments-submit {
    float: right;
}