.App {
  text-align: center;
}

.React-logo {
  animation: React-logo-spin infinite 20s linear;
  height: 80px;
}

.Express-logo {
  width: 170px;
  top: -10px;
  position: relative;
}

.Mongo-logo {
  width: 180px;
  top: -12px;
  position: relative;
}

.App-header {
  background-color: #ffffff;
  height: 140px;
  padding: 20px;
  border-bottom: #ccc solid 1px
}

.App-intro {
  font-size: large;
  margin-bottom: 60px;
}

@keyframes React-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
